<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
    <head>
        <link rel="stylesheet/admin.css"/>
        <link rel="icon" href="images/favicon.png"/>

        <meta charset="utf-8"/>
    </head>
    <body>
        <h1>UTAHA.MOE</h1>
        <p>author tool</p>
        <form action="demo_form.asp">
            title : <input type="text" name="title"><br>
            content : <textarea name="content"></textarea><br>
            <input type="submit" value="Submit">
        </form>
        <div>
            <% data.forEach(function (item, index) { %>
                <p> <%= item.name %></p>
                <p> <%= item.url %></p>
                <p> <%= item.img %></p>
            <% });%>
        </div>
    </body>
</html>