<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
    <head>
        <link rel="stylesheet/admin.css"/>
        <meta charset="utf-8"/>
    </head>
    <body>
        <h1>UTAHA.MOE</h1>
    </body>
</html>