<!DOCTYPE html>
<html>
<head>
    <meta name="description" content="welcome to utaha.moe" />
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <meta name="theme-color" content="#5a5c7e">
</head>
<body>
<h1>UTAHA.MOE</h1>
<h1>404</h1>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-80358615-1', 'auto');
    ga('send', 'pageview');

</script>
</body>
</html>