<!DOCTYPE html>
<html>
  <head>
    <title>utaha.moe</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="main_content">
      <p>utaha</p>
    </div>
  </body>
</html>
