<!DOCTYPE html>
<html>
  <head>
    <title>utaha.moe</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <header>
    <nav>
      <ul class="header_ul">
        <li class="header_li">HOME</li>
        <li class="header_li">ABOUT</li>
      </ul>
    </nav>
  </header>
  <div id="container">
    <div id="pop_content">
      <div id="pop_left">
        <img src="images/pop_img.png" alt="main pic" id="pop_img">
      </div>
      <div id="pop_right">
        <span id="pop_right_margin"></span>
        <p id="pop_text1">All Changed.</p>
        <p id="pop_text2">Utaha.moe 3rd</p>
        <div id="detail" class="link">
          <a id="detail_link" href="#">Details</a>
        </div>
      </div>
    </div>
    <div class="main_content_container">
      <div class="main_content">
        <img src="/images/profile.jpg">
        <p>utaha</p><p>utaha</p><p>utaha</p><p>utaha</p>
        <p>utaha</p><p>utaha</p><p>utaha</p><p>utaha</p>
        <p>utaha</p><p>utaha</p><p>utaha</p><p>utaha</p>
        <p>utaha</p><p>utaha</p><p>utaha</p><p>utaha</p>
      </div>
    </div>
  </div>
  </body>
</html>
