<!DOCTYPE html>
<html>
  <head>
    <title>utaha.moe</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <header>
    <nav>

    </nav>
  </header>
  <div id="root">
    <div id="pop_content">
      <div id="pop_left">
        <p>asdf
        </p>
      </div>
      <div id="pop_right">
        <p id="pop_text1">All Changed.</p>
        <p id="pop_text2">Utaha.moe 3rd</p>
        <div class="link">

        </div>
      </div>
    </div>
    <div class="main_content">
      <p>utaha</p>
    </div>
  </body>
  </div>
</html>
