.about_content{
    width: 70%;
    background-color: white;
}
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
    margin-top: 100px;
}
html{
    height: 100%;
    width: 100%;
}
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

main > img,div,span,iframe,video{
    overflow-x: scroll;
}
